.App {
  text-align: center;
  min-height: 100vh;

 background-color: #000000;
background-image: linear-gradient(315deg, #2e2e30 0%, #0b000e 74%);
}
.dataContainer{
  width: 100%;
  height: 470px;
  justify-content: center;
  overflow-y:scroll;
  
  margin-top: 0%;
}
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #131313;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #101010;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.load{
  margin-top: 100px;
  visibility: hidden;
}
.load1{
  margin-top: 100px;
  visibility: visible;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
  background-color: #758EB7;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  background-color: #6F5F90;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  background-color: #8A5082;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  background-color: #FF7B89;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


.wave{
  position: fixed;
  bottom: 0px;
  width: 100%;
  
}
.spoken{
  margin: 10px;
  text-align: center;
  position:relative;
  top:100px;
  font-weight: bolder;
  font-size: 80px;
  background: #121FCF;
  background: linear-gradient(to right, #0011fe 0%, #ff0400 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.spoken1{
  background: #121FCF;
  background: linear-gradient(to right, #0011ff 0%, #f70400 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px;
  text-align: center;
  position: relative;
  top:30px;
  font-weight: bolder;
  font-size: 40px;
  animation: move 2s ease ;
  animation-iteration-count:initial;
  
}
@keyframes move {
  0%{
    top:100px;
    font-size: 30px;
  }
  
  100% {
     top: 30px;
     font-size: 40px;
     
  }
}
.speech-body{

  background-color:hsl(0, 0%, 50%,0) ;
  
  text-align: center;
  min-height: 70vh;
  color: white;
}
.data{
  position: relative;
  top:100px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size:x-large;
}
.App-header {
  background-color:hsl(0, 0%, 50%,0) ;
  
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: #121FCF;
  background: linear-gradient(to right, #2b37e0 0%, #f32f2f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn{
  background-image: linear-gradient(to right,rgb(251, 0, 255),rgb(117, 30, 151));
  position: absolute;
  bottom: 4%;
  left: 48%;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid palevioletred;
  transition: all .2s ease-in-out;
}
.btn:hover{
  cursor: pointer;
  scale: 1.1;
  
}
.btn1{
  background-image: linear-gradient(to right,rgb(117, 30, 151),rgb(225, 0, 255));
  position: absolute;
  bottom: 4%;
  left: 48%;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid palevioletred;
  transition: all .2s ease-in-out;
  animation: blink 1.5s ease-out infinite;
}

.lds-ripple {
  display: inline-block;
  position: absolute;
  bottom: 1.5%;
  left: 47.2%;
  width: 100px;
  height: 100px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: 0.7s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 70;
    height: 70;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 80;
    height: 80;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 90px;
    height: 90px;
    opacity: 0;
  }
}

@keyframes blink{
  0%{
    color: #000000;
  }
  100%{
    color: #ff0400;
  }
}
.btn1:hover{
  cursor: pointer;
  scale: 1.1;
  
}
.App-link {
  color: #61dafb;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.newsContainer{
display: flex;
flex-wrap: wrap;
}
.card{
  width: 264px;
  height: 380px;
  margin-left: 7%;
  margin: 16px;
  background-image: linear-gradient(to right,rgb(244, 238, 246),rgb(169, 165, 165));
}
.card img{
  width:264px;
  height: 185px;
}
.cardTop{
  display: flex;
  padding: 2px;
}
.cardTop h6{
  width: fit-content;
  text-align: left;
  color: #474545;
  font-weight: bold;
}
.cardTop h6:nth-child(2){
  text-align: right;
  width: fit-content;
  margin-left:110px;
}
.card h4{
  color: #000000;
  text-align: left;
  margin:0%;
}
@media screen and (max-width:600px){
  .btn{
    position: absolute;
    bottom: 10%;
    left: 43%;
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  .btn1{
    position: absolute;
    bottom: 10%;
    left: 43%;
    height: 70px;
    width: 70px;
    border-radius: 50%;
   
}
.lds-ripple {
  display: inline-block;
  position: absolute;
  bottom: 7.5%;
  left: 39.5%;
  width: 100px;
  height: 100px;
}
}

@media screen and (min-width:600px) and (max-width:1000px) {
  .lds-ripple {
    display: inline-block;
    position: absolute;
    bottom: 7.5;
    left: 46.4%;
    width: 100px;
    height: 100px;
  }
}